* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html,body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background: rgb(58,106,98);
  background: linear-gradient(90deg, rgba(58,106,98,0.9920343137254902) 0%, rgba(57,123,76,1) 33%, rgba(57,128,69,1) 43%, rgba(58,106,98,1) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.container {
  width: 80%;
  margin: 0 auto;
}

.slide .image {
  overflow: hidden;
  height: 700px;
  width: 100%; /* Adjusted width to be responsive */
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgb(105, 105, 105);
  padding: 10px 0;
  width: 100%;
  color: red; /* Change text color for visibility */
  z-index: 1000;
}
.fa-regular {
  margin-left: 30px;
}
.top p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  margin-left: 10px; /* Set display to inline-block to allow the elements to appear next to each other */
  line-height: 22px;
}
.top a {
  color: #fff; /* Set the color to your preferred value */
  text-decoration: none; /* Remove the underline */
}
.top p:hover{
  color: #9c9c9c;
}
.top a:hover {
  color: #9c9c9c; /* Set the hover color to your preferred value */
}

.social-top {
  margin-left: 950px;
  float: right;
  display: flex;
  align-items: center; /* Align items vertically */
  margin-right: 30px;
}
.social-top a {
  color: #fff; /* Set the color to your preferred value */
  text-decoration: none; /* Remove the underline */
}
.social-top a:hover {
  color: #9c9c9c; /* Set the hover color to your preferred value */
}
.social-top i {
  margin-right: 10px; /* Adjust the spacing between social icons */
}
header {
  position: fixed;
  margin-top:40px;
  background-color: #ffffff;
  padding: 8px; /* Reduced padding for a smaller header */
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 250px; /* Logo size remains constant */
  line-height: 50%;
  float: right;

}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px; /* Navbar dimensions remain constant */
  margin-bottom: 10px;
  margin-left:2px;
  margin-right: 10px;
}

.navbar ul {
  font-size: 16px;
  line-height: 50%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Align items vertically */
}

.navbar a {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  color: #000000;
  font-weight: 200;
  text-decoration: none; /* Add this line to remove underline */
}
.navbar ul li a:hover {
  background-color: hsla(0, 0%, 20%, 0.308);
  color: #fff;
}
video {
  width: 100%;
  height: auto;
  object-fit: cover; /* Adjust as needed for your layout */
}
.hero-back {
  width: 100%;
  height: 100vh;
  background: url(images/hero.jpg) no-repeat 50% 50%;
  background-size: 100% 100%;
  background-attachment: fixed; /* Add this line */
  position: relative;
  margin-bottom: 200px;
}
.hero-back img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.parallax-1{
  margin-top: 50px;
  width: auto;
  height: auto;
  background: url(images/image15.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parallax-2{
  margin-top: 50px;
  width: auto;
  height: auto;
  background: url(images/image14.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parallax-inner{
  padding: 25% 0;
}
.parallax-inner2{
  padding: 25% 0;
}
.header-text p {
  padding: 20px;
  font-size: 16px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 50px;
  font-family: Poppins;
  line-height: 30px;
  color: #fff;
  font-weight: lighter;
}
.header-text h1 {
  text-align: center;
  margin-top: 50px;
  color: #f39a16;
  line-height: 1.5;
  font-family: Poppins;
}
.header-text2 h1 {
  margin-top:100px;
  text-align: center;
  color: #f39a16;
  line-height: 1.5;
  font-family: Poppins;
}
.header-text2 p {
  padding: 5px;
  font-size: 16px;
  margin-left: 70px;
  margin-right: 50px;
  font-family: Poppins;
  line-height: 30px;
  color: #fff;
  font-weight: lighter;
}
.button-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#seeMoreBtn {
  margin-top:25px;
 background-color: aquamarine;
 width: 130px;
 height: 40px;
 border-radius: 5px;
 padding: 10px 25px;
 font-family: 'Poppins', sans-serif;
 font-weight: 900;
 cursor: pointer;
 transition: all 0.3s ease;
 position: relative;
 display: inline-block;
 box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 outline: none;
}
#seeMoreBtn {
  background: rgb(68, 119, 85);
  background: linear-gradient(0deg, rgb(64, 185, 48) 0%, rgb(40, 145, 122) 100%);
  border: none;
 }
 
 #seeMoreBtn:before {
  height: 0%;
  width: 2px;
 }

 #seeMoreBtn:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
               -4px -4px 6px 0 rgba(116, 125, 136, .5), 
     inset -4px -4px 6px 0 rgba(255,255,255,.2),
     inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
 }
/* About css */
.about-bale{
  margin-top:100px;
  text-align: center;
  color: #f39a16;
  line-height: 1.5;
  font-family: Poppins;
}
.cover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-box {
  margin: 10px;
  margin-left: 25px;
  width: 600px;
  height: 450px;
  box-shadow: 1px 0 10px #000000;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #fff;
  position: relative; /* Add position relative */
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.about-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out; /* Add a smooth transition for the zoom effect */
}
.about-box:hover {
  transform: scale(1.1);
}
.cover h2,
.cover p {
  font-family: 'Poppins', sans-serif;
  margin: 10px;
}


footer {
  background: rgb(134,130,130);
  background: linear-gradient(90deg, rgba(134,130,130,1) 0%, rgba(80,78,76,1) 0%, rgba(64,64,64,1) 100%, rgba(117,89,73,0.9864320728291317) 100%);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius:75px ;
  border-top-right-radius: 75px;
  font-size: 15px;
  line-height: 25px;
  margin-top: auto;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

}

.col {
  flex-basis:15%;
  padding:10px;
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis:20%;
}
.logo1 {
  width: 200px;
  margin-bottom: 30px;
}

.col h3 {
  font-family:Poppins ;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;

}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  margin-right: 10px;
}
.col ul li{
  list-style: none;
  margin-bottom:12px;
}

.col ul a {
  color: #fff;
  text-decoration: none;
}

.col a:hover {
  color: #000000;
  text-decoration: underline;
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;

}
form .fa-regular {
  font-size: 20px;
  margin-right: 10px;
}
form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;

}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fa-solid{
  font-size: 15px;
  color: #ccc;
}
.social-icons .fa-brands {
  width: 30px;
  height: 30px;
  border-radius:40%;
  text-align: center;
  line-height:30px;
  font-size: 20px;
  color: #000000;
  background: #fff;
  margin-right: 25px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;

}
.copyright {
  font-family: Poppins;
  font-weight: 300;
  text-align: center;
}


@media (max-width: 768px) {
  .navbar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar img.em {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar li {
    display: block;
    width: 100%;
    text-align: center;
  }

  .navbar a {
    margin-right: 0;
  }
}
